[submodule "backip/00"]
	path = backip/00
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/config.h"]
	path = backip/00/config.h
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/CurrentThread.cpp"]
	path = backip/00/CurrentThread.cpp
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/CurrentThread.h"]
	path = backip/00/CurrentThread.h
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/EventLoop.cpp"]
	path = backip/00/EventLoop.cpp
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/EventLoop.h"]
	path = backip/00/EventLoop.h
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/main.cpp"]
	path = backip/00/main.cpp
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/Makefile"]
	path = backip/00/Makefile
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/notCopyable.h"]
	path = backip/00/notCopyable.h
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/Thread.cpp"]
	path = backip/00/Thread.cpp
	url = https://github.com/ChyauAng/myReactor
[submodule "backip/00/Thread.h"]
	path = backip/00/Thread.h
	url = https://github.com/ChyauAng/myReactor
